// .container{
//     max-width: 1290px;
// }

.article-container {
    max-width: 1290px;
    padding: 0 20px 0 20px;
    margin: 0 auto 0 auto; 
}

// .article-metadata {
//     font-size: 0.8rem;
// }

// .btn {
//     font-size: 1rem;
// }
