// .container{
//     max-width: 1290px;
// }

.article-container {
    max-width: 1290px;
    padding: 0 20px 0 20px;
    margin: 0 auto 0 auto; 
}

// .article-metadata {
//     font-size: 0.8rem;
// }

// .btn {
//     font-size: 1rem;
// }

// .gallery{
//     max-width: 1290px;
//     height: 100%;
//     width: 100%;
//     display: block;
//     margin:0 auto;
// }

// .gallery a[data-fancybox] img {
//     height: 300px;
//     max-height: 20%;
//     max-width: 20%;
//     display: inherit;
//     // padding: 2px;
// }

// .gallery img {
//     min-height: 128px;
//     min-width: 128px;
// }
